/* Contains all of the CSS for the two HTML files */

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 16px;
}

footer {
  padding: 32px 0;
  background-color: #9acd32;
  border: solid 2px;
  border-bottom: 1px solid green;
}

img {
  height: 200px;
}

nav {
  background-color: #ff4500;
  color: white;
  border-bottom: 1px solid #a52a2a;
  padding: 16px;
}

nav a {
  color: white;
}

a {
  text-decoration: none;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

.recipe-list a[href$="detail.html"]:contains("Vegetarian Tacos") {
  color: #8b0000;
}

.recipe-item {
  border: 1px solid #ccc;
  padding: 16px;
  box-sizing: border-box;
}

.ingredients-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
